*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgba(231, 213, 255, 0.329);
}
header{
    display: flex;
    background-color: rgb(59, 34, 99);
    width: 100%;
    height: 60px;
    justify-content: space-between;
    position: fixed;
}
Header a{
    text-decoration: none;
    color:white;
}
.Action{
    display: flex;
    gap:20px
}
.Logo{
    display: flex;
    align-items: center;
    padding:5px;
    color:white;
    cursor: pointer;
    white-space: nowrap;
    gap:10px;
}
.Logo img{
    width: 50px;
    height: 50px;
}
.task{
    display: flex;
    text-align: center;
    margin-right: 80px;
}
.task ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    justify-content: space-between;
    gap:20px
}
.task li a{
    text-decoration: none;
    display: block;
    color: white;
    text-align: center;
    padding: 10px 10px;
}
.task li a:hover{
    background-color: gray;
}
.Cart{
    display: flex;
    align-items: center;
    color:white;
    white-space: nowrap;
    padding:10px;
    cursor: pointer;
}
.Cart img{
    width: 40px;
    height: 40px;
    padding:5px;
}

.login{
    display: flex;
    align-items: center;
    color: white;
    white-space: nowrap;
    padding: 10px;
    cursor: pointer;
}
.login img{
    width: 40px;
    height: 40px;
    color: white;
    padding:5px;
}

footer{
    background: #12002b;
    color: white;
    display: flex;
    justify-content: space-around;
    left:0;
    bottom:0;
    width: 100%;
    text-align: center;
    padding: 10px;
    position: fixed;
}
footer div {
    max-width: 200px;
    cursor: pointer;
}
footer p:hover{
    background-color: rgba(211, 211, 211, 0.228);
}

@media only screen and (max-width: 800px) {
    body{
        display: flex;
        flex-direction: column;
        gap:10px;
    }
    main{
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: center;
    }
    footer{
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
    }
    footer div{
        padding: 5px;
    }
}

    
main{
    padding:80px 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.container{
    display: flex;
    gap: 10px;
}

.product-detail{
    max-width: 800px;
    width: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.product-info{
    max-width: 800px;
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between ;
}
.product-info button{
    width: 100%;
    padding: 20px;
    background-color: red;
    color: white;
    text-decoration:solid;
}
.product-detail p{
    text-align: justify;
    padding: 20px;
}
.product-detail-span {
    max-width: 800px;
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    align-self: start;
}

.prev, .next {
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
}
.prev { left: 10px; }
.next { right: 10px; }
.product-info {
    width: 50%;
    padding: 20px;
}
button:active{
    transform: translateX(1px);
    background-color: rgb(78, 128, 5);
}